<app-index-navbar></app-index-navbar>

<app-header-small></app-header-small>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>

    <div class="justify-center text-center flex flex-wrap mt-24">

        <div class="w-full px-12 md:px-4">
            <h2 class="font-semibold text-4xl">Series of videos 'Women talk about Copernicus'</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
                Some of the women who participated in the survey also provided their personal view in short testimonial
                videos. Enjoy them!
            </p>

            <div class="flex flex-wrap">
                <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/jmaYnfmPuLo" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/rM7S9eZc8VY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/-joR9TNCrBo" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/yxQRekb8b1I" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/sW7cUgScifY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>
        </div>


    </div>
    <div class="justify-center text-center flex flex-wrap mt-24">

        <div class="w-full px-12 md:px-4">
            <h2 class="font-semibold text-4xl">Recordings of webinar series 'Bridging GI and Space initiatives fostering
                gender equality' </h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
                This webinar series organized by Women in Copernicus gives an overview of existing
                initiatives in the Space/EO/GI sector that promote gender equality and at the same time showcases
                testimonials
                working in these fields. It is an opportunity to get to know the portfolio and activities carried out by
                these
                successful networks and facilitate further networking.
                <br>
                The webinar series took place April-May 2021, every Wednesday at 15:00 (CEST). <br> Watch the recordings
                here.
            </p>

            <div class="flex flex-wrap">
                <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/hTRypwoudTY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/yZMA2jJV72Y" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/QJINW-VpUp" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/i1Rlq9nI4fU" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/Ruq_8X1K0C0" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">
                    <iframe src="https://www.youtube.com/embed/pv9ZzrxbUKI" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>


        </div>


    </div>
</section>

<app-footer></app-footer>