<app-index-navbar></app-index-navbar>

<app-header-small></app-header-small>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>

    <div class="justify-center text-center flex flex-wrap mt-24">

        <div class="w-full px-12 md:px-4">
            <h2 class="font-semibold text-4xl">Women in Copernicus <br> Core Team</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-500">
                The WiC core team is voluntarily running the network. We want to continue growing the initiative and
                keep the link between us, despite the ending of the
                first project.

                <br>
                Meet the ladies behind the WiC Team!
            </p>

            <div class="flex flex-wrap">
                <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/marie.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="https://twitter.com/MarieJag" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/marie-jagaille-7a5b0b42/" target="_blank"
                            rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="http://www.bretel.eu/" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Marie Jagaille</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            Project manager for regional satellite applications, Brittany Remote Sensing Cluster
                            (BreTel)
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            I coordinated the first Women in Copernicus survey (2020) and I am now involved in various
                            actions related to the Women
                            in Copernicus initiative: dissemination of results at the European, national and regional
                            levels; implementation of
                            local actions; design of new actions and projects...
                        </p>
                    </div>

                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/barbara.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="https://zgis.at/" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Barbara Riedler</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            RESEACHRCHER AND LECTURER, Z_GIS (University of Salzburg </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            I am part of the WiC team because it is a bottom-up initiative trying to change reality -
                            where gender equality and
                            inclusion is not achieved yet - in an unique manner full of empathy, respect and
                            inspiration. I support research,
                            outreach - especially in the scientific community, education and networking.

                        </p>
                    </div>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/nathalie.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="https://twitter.com/NatStephenne" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/nathaliestephenne/" target="_blank"
                            rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="http://geoportail.wallonie.be/gtcowal" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Nathalie Stéphenne</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            Geomatic expert and coordinator of the Walloon working group on remote sensing in public
                            services, Public
                            Services of Wallonia, Geomatic department
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            One year ago, I dreamed about this project ad when I talk about it with all these nice
                            partners, the dream came true.
                            I’m engaged and pleased to work for WIC (conference, papers, reports, video, webinars,
                            social media ...) </p>
                    </div>

                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/grazia.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/grazia-m-fiore/" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Grazia Fiore</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            User Programme Coordinator, EURISY 
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            I am supporting the WiC team to expand the network and propose subjects of discussions. This
                            amazing project allowed me
                            to meet inspired and inspiring women working in the sector to make inclusion and equality a
                            priority, downstream as well
                            as upstream.
                        </p>
                    </div>
                </div>

                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/natassa.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="https://twitter.com/NatassaAntoniou" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/natantoniou/" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Natassa Antoniou</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            Project Officer - Market Development, EARSC
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            WiC has brought me joy, motivation and inspiration during this year of Covid. I am
                            supporting the WiC team to grow,
                            bring more stakeholders in the network and get connected to other exciting/similar
                            initiatives around the world. My
                            motto, “Together we can do great things” and WiC is a great example!

                        </p>
                    </div>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/kathrin.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Kathrin Lenvain</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            Business Development, AZO - Space of Innovation
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            After a decade working in space, I took it for granted that there are not many women in this
                            sector. WIC changed my
                            mindset on this. I love working in space and want to get others enthusiastic about it too.
                            Only by taking action, there
                            will be change. I support Outreach and Communication Activities and bring in new ideas.
                        </p>
                    </div>
                </div>

                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/aida.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="https://twitter.com/aidamonfort87" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="https://www.linkedin.com/in/aidamonfort/" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="http://geotec.uji.es/" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Aida Monfort Muriach</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            Researcher and developer at Geotec (Universitat Jaume I) <br>
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            Helping to build this community has helped me understand why is so important we speak up. I
                            am glad I met this amazing women! Their work is very inspiring.
                        </p>
                    </div>
                </div>

                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/estefania.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="https://twitter.com/eaguilarmo" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Estefanía Aguilar Moreno</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            Collaborator
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            Copernicus embraces a variety of people with complementary backgrounds and expertise.
                        </p>
                    </div>
                </div>
                <div class="w-full w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 p-4">

                    <img alt="..." src="../../../assets/img/wic/team/agueda.jpg"
                        class="shadow-lg rounded-full mx-auto max-w-150-px" />
                    <div class="mt-1  text-center">
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a href="" target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a href="http://geotec.uji.es/" target="_blank" rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">Águeda Gómez Cambronero</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            Collaborator
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            I like to support projects which encourage more women in STEM.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<app-footer></app-footer>