<app-index-navbar></app-index-navbar>

<app-header-small></app-header-small>

<section class="mt-48 md:mt-40 pb-10 relative bg-blueGray-100">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container mx-auto px-4">
        <div class="text-center mt-12">
            <h3 class="text-4xl font-semibold leading-normal mb-8 text-blueGray-700 mb-2">
                WiC is involved in the following initiatives
            </h3>

            <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-wic-blue2">
                Copernicus Women will identify, inventory, understand and gather the stories of Copernicus Women in
                European Regions.
            </p>

           <div style="position: relative; padding-bottom: 56.25%; height: 0;"> 
                <iframe style="position: absolute; top:0; left:0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/bpvUaNzZuD0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div> 

    </div>

</section>

<section class="py-10 bg-blueGray-100 overflow-hidden">
    <div class="container mx-auto pb-64">
        <div class="flex flex-wrap justify-center">
            <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
                <div
                    class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-grey-200">
                    <i class="fas fa-poll"></i>
                </div>
                <h3 class="text-3xl mb-2 font-semibold leading-normal text-wic-blue2">
                    "Women in Copernicus" first survey and results - 2020
                </h3>
                <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-wic-blue2">
                    The "Women in Copernicus" project shed some light into the gender subject from the point of view of
                    women active in
                    Copernicus. Far from being representative of the whole ecosystem, the replies received from 460
                    women who participated
                    in the survey launched in 2020 provide a first insight into a subject that should deserve further
                    consideration in the
                    future. Results are available in a report "Global analysis of the survey", in an executive summary
                    "Results of the
                    survey, Executive summary, November 2020" and in the result section below.
                </p>
                <!--                 <a href="https://womenincopernicus.eu" target="_blank"
                    class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 wic-blue1  active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                    Visit Project Webpage
                </a> -->

                <div
                class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-grey-200">
                <i class="fas fa-poll"></i>
            </div>
            <h3 class="text-3xl mb-2 font-semibold leading-normal text-wic-blue2">
                "Women in Copernicus" survey 2.0 - 2021
            </h3>
            <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-wic-blue2">
                Stay tuned for survey 2.0 results!
            </p>
            </div>

            <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative">
                <i
                    class="fas fa-satellite wic-text-blue1 text-55 absolute -top-150-px -right-100 left-auto opacity-80"></i>
            </div>
        </div>
    </div>
</section>

<section class="pb-16 bg-blueGray-200 relative pt-32">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>

    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center bg-white shadow-xl rounded-lg -mt-64 py-16 px-12 relative z-10">
            <div class="w-full text-center lg:w-8/12">
                <!-- <p class="text-4xl text-center">
                    <span role="img" aria-label="love"> 😍 </span>
                </p> -->
                <h3 class="font-semibold text-3xl">Would you like to know more?</h3>
                <p class="text-blueGray-500 text-lg leading-relaxed mt-4 mb-4">
                    Donwload the documents with analysis and results from the survey
                </p>
                <div class="container px-4 mx-auto">
                    <div class="flex flex-wrap">
                        <div class="w-full px-4 flex-1">
                            <span class="block my-4 p-3">
                                <a href="assets/survey2020/infographic.pdf" target="_blank">
                                    <p class="text-blueGray-500 text-sm"> Infographic</p>
                                    <img src="/assets/img/wic/infographic.png" alt="..."
                                        class="flex-grow h-auto align-middle border-none" />

                                </a>
                            </span>
                        </div>
                        <div class="w-full px-4 flex-1">
                            <span class="block my-4 p-3">
                                <a href="assets/survey2020/Global_Report.pdf" target="_blank">
                                    <p class="text-blueGray-500 text-sm">Global Analysis</p>
                                    <img src="/assets/img/wic/global_analysis.png" alt="..."
                                        class="flex-grow h-auto align-middle border-none" />
                                </a>
                            </span>
                        </div>
                        <div class="w-full px-4 flex-1">
                            <span class="block my-4 p-3">
                                <a href="assets/survey2020/Executive_summary.pdf" target="_blank">
                                    <p class="text-blueGray-500 text-sm">Executive Summary</p>
                                    <img src="/assets/img/wic/results_survey.png" alt="..."
                                        class="flex-grow h-auto align-middle border-none" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

                <!--               <div class="sm:block flex flex-col mt-10">
                    <a href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus?ref=na-index-page"
                        target="_blank"
                        class="get-started text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-2 bg-red-600 active:bg-red-700 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                        Get started
                    </a>
                    <a href="https://github.com/creativetimofficial/notus-angular?ref=creativetim" target="_blank"
                        class="github-star sm:ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-blueGray-700 active:bg-blueGray-600 uppercase text-sm shadow hover:shadow-lg ease-linear transition-all duration-150">
                        <i class="fab fa-github text-lg mr-1"></i>
                        <span>Help With a Star</span>
                    </a>
                </div> -->
                <div class="text-center mt-16"></div>
            </div>
        </div>
    </div>
</section>

<section class="pt-20 pb-20">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold">Thanks for your participation!</h2>
                <p class="text-lg leading-relaxed m-4 text-blueGray-500">
                    We want to give face and voice to all the participants who collaborated to this WIC project.
                </p>
            </div>
        </div>
        <div *ngIf="womenList && womenList.length > 0" class="flex flex-wrap">
            <div *ngFor="let w of womenList" class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
                <!-- grid grid-flow-col auto-cols-max -->
                <div class="px-1">
                    <img alt="..." src="{{w.fields.downloadURL}}" class="shadow-lg rounded-md mx-auto max-w-100-px" />
                    <div class="mt-1  text-center">
                        <a *ngIf="w.fields.twitter && w.fields.twitter != '' " href="{{w.fields.twitter}}"
                            target="_blank" rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-twitter"></i>
                            </button>
                        </a>
                        <a *ngIf="w.fields.linkedin != '' " href="{{w.fields.linkedin}}" target="_blank"
                            rel="noopener noreferrer">
                            <button
                                class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </a>
                        <a *ngIf="w.fields.other != '' " href="{{w.fields.other}}" target="_blank"
                            rel="noopener noreferrer">
                            <button
                                class="wic-orange text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                type="button">
                                <i class="fa fa-globe"></i>
                            </button>
                        </a>
                    </div>
                    <div class="pb-6 text-center">
                        <h6 class="font-bold">{{w.fields.name}}</h6>
                        <p class="mt-1 text-sm wic-text-orange uppercase font-semibold">
                            {{w.fields.country}}
                        </p>
                        <p class="mt-1 text-xs wic-text-blue2 font-extralight">
                            {{w.fields.quote}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-48 md:mt-40 pb-40 relative bg-blueGray-100">
    <div class="-mt-20 top-0 bottom-auto left-0 right-0 w-full absolute h-20" style="transform: translateZ(0)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
            version="1.1" viewBox="0 0 2560 100" x="0" y="0">
            <polygon class="text-blueGray-100 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-wrap items-center">

            <div class="w-full md:w-4/12 px-12 md:px-4 ml-auto mr-auto mt-48">
                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                    Funding and Partners
                </h3>
                <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
                    This project was funded by <a href="http://www.Cordinet.net" target="_blank"
                        rel="noopener noreferrer">CoRdiNet</a>, supported by <a href="http://www.nereus-regions.eu"
                        target="_blank" rel="noopener noreferrer"> NEREUS</a> (Network of European Regions Using Space
                    Technologies), <a href="http://www.eurisy.org" target="_blank" rel="noopener noreferrer"> EURISY</a>
                    (European association of space agencies), <a href="http://www.earsc.org" target="_blank"
                        rel="noopener noreferrer"> EARSC</a> (European
                    Association of Remote Sensing Companies) and <a href="http://www.belspo.be" target="_blank"
                        rel="noopener noreferrer">BELSPO</a> (Belgian Federal Science Policy
                    Office,
                    ), and is led by BreTel (Brittany Remote Sensing Group, France), SPW (Public Service of
                    Wallonia, Belgium)
                    and UJI (Universtity Jaume I, Spain). The University of Strasbourg (France) and Salzburg (Austria)
                    are partners.
                </p>
            </div>

            <div class="w-full md:w-6/12 px-12 md:px-4 ml-auto mr-auto mt-48">
                <div class="flex flex-wrap">
                    <h5 class="text-xl mb-2 font-semibold leading-normal mt-6">
                        Project Participants
                    </h5>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="http://www.bretel.eu" target="_blank">
                            <img src="assets/img/wic/bretel.png"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="Bretel Women in Copernicus"></a>
                    </div>
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="https://spw.wallonie.be" target="_blank">
                            <img src="assets/img/wic/spw.png"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="spw wallonie Women in Copernicus"></a>
                    </div>
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="https://www.uji.es" target="_blank">
                            <img src="assets/img/wic/uji.png"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="Universitat Jaume I Women in Copernicus"></a>

                    </div>
                </div>

                <div class="flex flex-wrap">
                    <h5 class="text-xl mb-2 font-semibold leading-normal mt-6">
                        Supporters
                    </h5>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="https://www.eurisy.org" target="_blank">
                            <img src="assets/img/wic/eurisy.jpg"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="Eurisy Women in Copernicus"></a>
                    </div>
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="https://www.nereus-regions.eu" target="_blank">
                            <img src="assets/img/wic/nereus.png"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="Nereus Women in Copernicus"></a>
                    </div>
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="https://earsc.org" target="_blank">
                            <img src="assets/img/wic/earsc.png"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="earsc Women in Copernicus"></a>
                    </div>
                </div>

                <div class="flex flex-wrap">
                    <h5 class="text-xl mb-2 font-semibold leading-normal mt-6">
                        Partners
                    </h5>
                </div>
                <div class="flex flex-wrap">
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="http://en.unistra.fr" target="_blank">
                            <img src="assets/img/wic/strasbourg.png"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="strasbourg Women in Copernicus"></a>
                    </div>
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="https://www.uni-salzburg.at" target="_blank">
                            <img src="assets/img/wic/PLUS.jpg"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="PLUS Women in Copernicus"></a>
                    </div>
                    <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
                        <a href="http://www.belspo.be" target="_blank">
                            <img src="assets/img/wic/belspo.jpg"
                                class="shadow-lg rounded-md mx-auto max-w-120-px bg-white p-2"
                                alt="belspo Women in Copernicus"></a>
                    </div>
                </div>






            </div>






        </div>
    </div>

</section>


<app-footer></app-footer>